# Environment & Secrets
.env
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Airflow
logs/
airflow.db
airflow-webserver.pid
standalone_admin_password.txt

# dbt
dbt_seoul_bike/target/
dbt_seoul_bike/dbt_packages/
dbt_seoul_bike/logs/

# IDEs
.vscode/
.idea/

# Docker
docker-context-files/

# Temporary files
*.log
