version: '3.8'

x-airflow-common: &airflow-common
  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.9.1}
  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres-airflow/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-pandas sqlalchemy psycopg2-binary requests tenacity python-dotenv dbt-postgres}
    DBT_PROFILES_DIR: /opt/airflow/dbt
    SEOUL_DATA_API_KEY: ${SEOUL_DATA_API_KEY}
    WEATHER_API_KEY: ${WEATHER_API_KEY}
    POSTGRES_HOST: postgres-warehouse
    POSTGRES_DB: ${POSTGRES_DB:-bike_warehouse}
    POSTGRES_USER: ${POSTGRES_USER:-airflow}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-airflow}
    AIRFLOW_CONN_POSTGRES_DEFAULT: postgresql://${POSTGRES_USER:-airflow}:${POSTGRES_PASSWORD:-airflow}@postgres-warehouse:5432/${POSTGRES_DB:-bike_warehouse}
  volumes:
    - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
    - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
    - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
    - ${AIRFLOW_PROJ_DIR:-.}/etl:/opt/airflow/etl
    - ${AIRFLOW_PROJ_DIR:-.}/dbt_seoul_bike:/opt/airflow/dbt
    - ${AIRFLOW_PROJ_DIR:-.}/utils:/opt/airflow/utils
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on: &airflow-common-depends-on
    postgres-airflow:
      condition: service_healthy
  networks:
    - bike_data_net

services:
  # Metadata DB for Airflow
  postgres-airflow:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-airflow-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "airflow" ]
      interval: 5s
      retries: 5
    networks:
      - bike_data_net

  # Data Warehouse DB
  postgres-warehouse:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-airflow}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-airflow}
      POSTGRES_DB: ${POSTGRES_DB:-bike_warehouse}
    volumes:
      - postgres-warehouse-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-airflow} -d ${POSTGRES_DB:-bike_warehouse}" ]
      interval: 10s
      retries: 5
    networks:
      - bike_data_net

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8974/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    healthcheck:
      test: [ "CMD-SHELL", "airflow jobs check --job-type TriggererJob --hostname \"$${HOSTNAME}\"" ]
      interval: 30s
      timeout: 30s
      retries: 5
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    command: version
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: airflow
      _AIRFLOW_WWW_USER_PASSWORD: airflow
      _PIP_ADDITIONAL_REQUIREMENTS: ''
    user: "0:0"
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}:/sources

  streamlit-dashboard:
    build:
      context: ./dashboard
    ports:
      - "8501:8501"
    environment:
      POSTGRES_HOST: postgres-warehouse
      POSTGRES_DB: bike_warehouse
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_PORT: 5432
    volumes:
      - ./dashboard:/app
    networks:
      - bike_data_net
    depends_on:
      - postgres-warehouse

volumes:
  postgres-airflow-db-volume:

  postgres-warehouse-volume:


networks:
  bike_data_net:
    driver: bridge
